*.o
*.d
.*.swp
*.log
*.lo
*.la
*.exe
*.out
*.tmp
tags
TAGS
Makefile
configure
config.*
.deps
TODO
todo
aclocal.m4
libtool
compile
missing
install-sh
ltmain.sh
autom4te.cache
Makefile.in
ezracer
depcomp
*~
test-driver
